<main>
  <h1>Pipes en Angular</h1>
  <p>{{ message | json }}</p>
  <p>{{ date | date : "dd/MM/yyyy" }}</p>
  <p>{{ number | double }}</p>
  <input
    type="text"
    name="searchValue"
    id="search-value"
    [(ngModel)]="searchValue"
  />
  <ul>
    @for (jedi of jediOrder | search : searchValue; track jedi.name) {
    <li>{{ jedi.rank | titlecase }} - {{ jedi.name }}</li>
    }
  </ul>
  <p>
    Mostrando {{ (jediOrder | search : searchValue).length }} resultados de un
    total de {{ jediOrder.length }}
  </p>
  <!-- <ul *ngFor="let jedi of jediOrder | search : searchValue">
    <li>{{ jedi.rank | titlecase }} - {{ jedi.name }}</li>
  </ul> -->
</main>
